{% extends "layouts/auth_card.html" %}
{% load i18n static %}

{% block auth_title %}{% trans "Change Password" %}{% endblock %}
{% block auth_mobile_title %}{% trans "Create new password" %}{% endblock %}

{% block auth_illustration %}{% endblock %}
{% block auth_logo %}{% endblock %}
{% block auth_form_class %}w-full md:max-w-sm md:mx-auto{% endblock %}

{% block auth_content %}
  <div class="relative flex items-center justify-center mb-2">
    <div class="absolute left-0">
      <a href="{% url 'account_login' %}">
        <img src="{% static 'icons/back-arrow.svg' %}" alt="Back" width="20" height="17" />
      </a>

    </div>
    <h4 class="text-2xl font-normal text-gray-800 text-center">{% trans "Change password" %}</h4>
  </div>

  {% if token_fail %}
    <div class="alert alert-error text-sm">
      {% url 'account_reset_password' as reset_url %}
      {% blocktrans %}The password reset link was invalid or has already been used. Please request a <a href="{{ reset_url }}" class="underline">new password reset</a>.{% endblocktrans %}
    </div>
    <c-button url="{% url 'account_reset_password' %}" class="btn btn-primary w-full">
      {% trans "Request new reset link" %}
    </c-button>
  {% else %}
    {% if form.non_field_errors %}
      <div class="alert alert-error text-sm py-2">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    <form method="post" action="{{ action_url }}" class="flex flex-col gap-4">
      {% csrf_token %}
      {{ redirect_field }}

      <c-form.field
        label="{% trans 'Password' %}"
        type="password"
        name="password1"
        id="id_password1"
        placeholder="Password"
        autocomplete="new-password"
        required="true"
        show_toggle="true"
        help_text="{% trans 'Use 8+ characters and upper and lower cases.' %}"
        errors="{{ form.password1.errors.0 }}"
      />

      <c-form.field
        label="{% trans 'Repeat password' %}"
        type="password"
        name="password2"
        id="id_password2"
        placeholder="Repeat password"
        autocomplete="new-password"
        required="true"
        show_toggle="true"
        errors="{{ form.password2.errors.0 }}"
      />
    <div class="flex flex-row-reverse gap-3 md:flex-col">
        <c-button type="submit" class="btn btn-primary  md:w-full">
          {% trans "Change password" %}
        </c-button>
        <c-button-nav url="{% url 'account_login' %}" class="btn btn-ghost md:w-full">
          {% trans "Cancel" %}
        </c-button-nav>
      </div>
    </form>
  {% endif %}

{% endblock %}
