{% load heroicons %}

{% if item_conversation_url %}
    <div class="p-3">
        <a id="item-conversation-link"
           href="{{ item_conversation_url }}"
           class="btn btn-outline btn-primary btn-sm md:btn-md w-full">
            {% heroicon_outline "chat-bubble-left-right" class="size-5" %}
            {{ item_conversation_label }}
        </a>
    </div>
{% elif show_message_lender %}
    <div class="p-3">
        {% if conversation_group_choices %}
            <button id="message-lender-button"
                    type="button"
                    class="btn btn-outline btn-primary btn-sm md:btn-md w-full"
                    onclick="showModal('conversation-group-modal')">
                {% heroicon_outline "chat-bubble-left-right" class="size-5" %}
                Message lender
            </button>

            <c-modal modal_id="conversation-group-modal"
                     modal_title="Choose a group"
                     cancel_button_text="Cancel"
                     confirm_button_text="Start conversation"
                     confirm_submit_form_id="open-conversation-form"
                     button_layout="equal">
                <form id="open-conversation-form"
                      method="post"
                      action="{% url 'chat-thread-pre-request-open' item.pk %}">
                    {% csrf_token %}
                    <label for="conversation-group" class="label mb-2 whitespace-normal">
                        Which group should this conversation be filed under?
                    </label>
                    <select id="conversation-group"
                            name="conversation_group"
                            class="select select-bordered w-full">
                        {% for group in conversation_group_choices %}
                            <option value="{{ group.pk }}">
                                {{ group.name }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </c-modal>
        {% else %}
            <form method="post"
                  action="{% url 'chat-thread-pre-request-open' item.pk %}">
                {% csrf_token %}
                <button id="message-lender-button"
                        type="submit"
                        class="btn btn-outline btn-primary btn-sm md:btn-md w-full">
                    {% heroicon_outline "chat-bubble-left-right" class="size-5" %}
                    Message lender
                </button>
            </form>
        {% endif %}
    </div>
{% endif %}
