{% extends "layouts/default.html" %}

{% block head_title %}
    Conversation
{% endblock %}
{% block content %}
    <div class="w-full max-w-3xl self-start px-4">
        <c-h1 class="font-normal text-[24px]">
            {% if chat_thread.item %}
                {{ chat_thread.item.name }}
            {% else %}
                This item is no longer available.
            {% endif %}
        </c-h1>
        <p class="text-sm opacity-70">
            {{ other_party.profile.full_name }}
        </p>

        <ul id="chat-messages" class="mt-4 flex flex-col gap-1">
            {% for message in chat_messages %}
                {% include "messaging/_message.html" with message=message viewer=user %}

            {% endfor %}
        </ul>
    </div>
{% endblock %}
