{% load i18n %}

<c-vars href="#" label="" />

<a
  href="{{ href }}"
  class="card bg-primary-content border border-gray-200 shadow-sm rounded-md flex flex-row items-center justify-between px-4 py-3 hover:bg-base-200 transition-colors"
>
  <span class="text-sm font-medium text-base-content">{{ label }}</span>

  <div class="bg-base-200 shadow-sm rounded w-7 h-7 flex items-center justify-center flex-shrink-0">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 text-base-content/60">
      <path fill-rule="evenodd" d="M6.22 4.22a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06l-3.25 3.25a.75.75 0 0 1-1.06-1.06L8.94 8 6.22 5.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
    </svg>
  </div>
</a>
