{% load static %}
{% load i18n %}
<footer class="bg-white shadow-md py-8 rounded-t-2xl">
    <div class="flex flex-col gap-2 md:gap-0 md:flex-row justify-between items-center max-w-4xl mx-auto px-8">
        <!-- Borrowd logo -->
        <img class="w-36" src="{% static 'borrowd-logo.svg' %}"
            alt="Borrow'd's logo, complete with friendly bumble bee" />
        <!-- Privacy Policy -->
        <a href="https://borrowd.org/privacy-policy/" class="hover:text-borrowd-indigo-600">
            <p >Privacy Policy</p>
        </a>
        <!-- Terms of Use -->
        <a href="https://borrowd.org/terms-of-use/" class="hover:text-borrowd-indigo-600">
            <p>Terms of Use</p>
        </a>
        <div class="flex space-x-2">
            <a href="https://github.com/borrowd" class="hover:text-borrowd-indigo-600">
                {% include "icons/github_logo.html" %}
            </a>
            <p>GitHub</p>
        </div>
        <!-- email -->
        <div class="mt-2 md:mt-0">
            <a href="mailto:info@borrowd.org" class="text-borrowd-indigo-600 text-lg">
                info@borrowd.org
            </a>
        </div>
    </div>
    <div class="mt-8 text-center text-sm text-gray-500">
        All rights reserved © Borrow'd 2025
    </div>
</footer>
