{% load static %}
{% load i18n %}
<header class="flex justify-between items-center bg-white shadow-md p-4 pr-10">
    <div id="header-logo" class="flex items-center space-x-2">
        <a href="{% url 'index' %}" class="flex items-center space-x-2">
            <img class="w-16" src="{% static 'favicon.png' %}" alt="Borrow'd's cute raccoon logo" />
            <h2 class="text-2xl font-bold text-gray-700">Borrow'd</h2>
        </a>
    </div>
    <nav>
        <ul class="flex space-x-4 items-right items-center">
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'profile' %}">Profile</a>
                </li>
                {% url 'account_logout' as logout_url_ %}
                {% if logout_url_ %}
                    <li>
                        <a href="{{ logout_url_ }}">{% trans "Sign Out" %}</a>
                    </li>
                {% endif %}
            {% else %}
                {% url 'account_request_login_code' as login_url_ %}
                {% if login_url_ %}
                    <li>
                        <a href="{{ login_url_ }}">{% trans "Sign In" %}</a>
                    </li>
                {% endif %}
                {% url 'account_signup' as signup_url_ %}
                {% if signup_url_ %}
                    <li>
                        <c-signup-button />
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
</header>
