{% load static %}
{% load i18n %}
<header class="flex justify-between items-center bg-white shadow-md p-4 pr-10 w-full mx-auto rounded-b-2xl">
    <nav class="flex justify-between items-center w-full">
        <ul class="flex flex-col md:flex-row text-center my-auto md:space-x-8 items-center ml-5">
            {% if user.is_authenticated %}
            <li>
                <c-nav-menu-item href="{% url 'item-list' %}">
                    Search
                </c-nav-menu-item>
            </li>
            <li>
                <c-nav-menu-item href="{% url 'borrowd_groups:group-list' %}">
                    Groups
                </c-nav-menu-item>
            </li>
            {% endif %}
        </ul>
        <div id="header-logo" class="flex items-center">
            <a href="{% url 'index' %}" class="flex items-center">
                <img class="w-48" src="{% static 'borrowd-logo.svg' %}"
                    alt="Borrow'd's logo, complete with friendly bumble bee" />
            </a>
        </div>
        <ul class="flex space-x-4 items-right items-center">
            {% if user.is_authenticated %}
                {% if user.profile.image %}
                    <li>
                        <c-thumbnail src="{{ user.profile.image.url }}" alt="Profile Picture" class="!rounded-full" />
                    </li>
                {% endif %}
                <li>
                    <c-nav-menu-item href="{% url 'profile' %}">
                        Profile
                    </c-nav-menu-item>
                </li>
            {% url 'account_logout' as logout_url_ %}
            {% if logout_url_ %}
                <li>
                    <c-nav-menu-item href="{{ logout_url_ }}">
                        {% trans "Sign Out" %}
                    </c-nav-menu-item>
                </li>
            {% endif %}
            {% else %}
                {% url 'account_request_login_code' as login_url_ %}
                {% if login_url_ %}
                    <li>
                        <c-nav-menu-item href="{{ login_url_ }}">
                            {% trans "Sign In" %}
                        </c-nav-menu-item>
                    </li>
                {% endif %}
                {% url 'account_signup' as signup_url_ %}
                {% if signup_url_ %}
                    <li>
                        <c-button-nav url="{% url 'account_signup' %}">
                            Sign Up
                        </c-button-nav>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
</header>
