{% extends "groups/layout.html" %}
{% block head_title %}Group Details{% endblock %}

{% block groups_content %}
<c-box class="mb-4">
    {% if object.banner %}
    <div class="-mx-4 md:-mx-8 -mt-4 md:-mt-8 mb-4"> <!-- this to counteract automatic c-box padding -->
        <img src="{{ object.banner.url }}" alt="Group Banner Image" class="w-full max-h-[200px] object-cover rounded-t-lg">
    </div>
    {% endif %}
     <div class="flex flex-col h-full">
        <div class="flex">
            {% if object.logo %}
                <c-thumbnail src="{{ object.logo.url }}" alt="{{ object.name }} Logo" />
                <span class="pl-2 flex items-center">
                    <c-h1>{{ object.name }}</c-h1>
                </span>
            {% else %}
                <c-h1>{{ object.name }}</c-h1>
            {% endif %}
        </div>
        <p class="text-gray-700 mb-4">{{ object.description }}</p>
        <p class="text-gray-500">{{ object.users.count }} members</p>
        <div class="relative my-4 -mx-4 md:-mx-8">
            <hr class="border-t border-gray-200 w-full">
        </div>
        <div>
            <c-button-nav url="{% url 'borrowd_groups:group-invite' object.pk %}">
                Get Invite Link
            </c-button-nav>
            <!-- only moderators can edit Group -->
            {% if is_moderator %}
            <c-button-nav url="{% url 'borrowd_groups:group-edit' object.pk %}" class="bg-orange-500 hover:bg-orange-600 text-white">
                Edit Group
            </c-button-nav>
            {% endif %}
        </div>
    </div>
</c-box>
<c-box>
    <c-groups.members-list :members="members_data" />
</c-box>
{% endblock %}
