{% extends "layouts/default.html" %}

{% comment %}
    This template is used for both creating and editing groups.
    Checking `view.object.pk` is strangely the best way to check
    if we are creating or editing.
{% endcomment %}
{% block head_title %}{% if not view.object.pk %}Create{% else %}Edit{% endif %} Group{% endblock %}

{% block content %}
<h1>{% if not view.object.pk %}Create{% else %}Edit{% endif %} Group</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
    {% if form.instance.pk %}<a href="{% url 'borrowd_groups:group-detail' form.instance.pk %}">Cancel</a>{% endif %}
    {% if form.instance.pk %}<a href="{% url 'borrowd_groups:group-delete' form.instance.pk %}">Delete</a>{% endif %}
</form>
{% endblock %}
