{% extends "groups/layout.html" %}
{% block head_title %}Join '{{ object.name }}'!{% endblock %}

{% block groups_content %}
<c-box>
     <div class="flex flex-col h-full">
        {% comment %}
        The language here should reflect whether approval
        is required (i.e. Join vs Request)
        {% endcomment %}
        <c-h2>{% if object.membership_requires_approval %}Request to Join Group?{% else %}Join Group?{% endif %}</c-h2>
        <c-h1>{{ object.name }}</c-h1>
        {% if members_data %}
        <div class="mb-6 text-sm md:text-base bg-gray-50 rounded-lg p-6 border border-gray-200">
            {% include "components/groups/members_list.html" with members=members_data %}
        </div>
        {% endif %}

        <p class="text-gray-700 mb-4"><b>Description:</b> {{ object.description }}</p>
        <p class="text-gray-700 mb-4"><b>Membership requires approval:</b> {{ object.membership_requires_approval|yesno:"Yes,No" }}</p>
        {% if object.membership_requires_approval %}
        <p class="text-sm text-gray-500 mb-2">Your request will be pending until a moderator approves it.</p>
        {% endif %}

        <c-divider class="my-4" />

        <form method="post" action="{{ request.get_full_path }}" onsubmit="this.querySelector('button[type=submit]').disabled = true;">
            {% csrf_token %}
            {{ form }}

            <div class="mt-4">
                <c-button type="submit">{% if object.membership_requires_approval %}Request to Join{% else %}Join{% endif %}</c-button>
            </div>
        </form>
    </div>
</c-box>
{% endblock %}
