{% load days_since %}
<div class="{{ class }}">
    {% if title %}
        <c-h2>{{title}}</c-h2>
    {% endif %}
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4">
    {% if not items and not transactions %}
        <div class="col-span-full text-gray-500 py-4 pl-4">
            <p>Nothing here yet</p>
        </div>
    {% endif %}
    {% for item in items %}
        {% load static %}
        <c-items.item-box pk="{{item.pk}}"
            name="{{item.name}}"
            description="{{item.description}}"
            owner="{{item.owner.username}}"
            status="{{item.get_status_display}}"
            image="{{item.photos.all.0.image.url}}"
            label="{% if label_type == 'i_borrower' and item.borrower %}
                        With {{ item.borrower.username|default:'' }}
                   {% endif %}"
            label_color="{{ label_color }}"
            box_size="{{ box_size }}"
        />
    {% endfor %}
    {% for tx in transactions %}
        {% load static %}
        <c-items.item-box pk="{{ tx.item.pk }}"
            name="{{ tx.item.name }}"
            description="{{tx.item.description}}"
            owner="{{ tx.item.owner.username }}"
            image="{{ tx.item.photos.all.0.image.url }}"
            status="{{ tx.get_status_display }}"
            label="{% if label_type == 'tx_time' %}
                        {{ tx.created_at|days_since }}
                   {% elif label_type == 'tx_owner' %}
                        From {{ tx.party1.username }}
                   {% elif label_type == 'tx_borrower' %}
                        By {{ tx.party2.username }}
                   {% endif %}"
            label_color="{{ label_color }}"
            box_size="{{ box_size }}"
        />
    {% endfor %}
    </div>
</div>
