{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="{% static 'icon.svg' %}" type="image/svg+xml">
    <title>{% block head_title %}{% endblock %} - Borrow'd 🐝</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
     <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap" rel="stylesheet">
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        "borrowd-indigo": {
                            300: "#d9e1f4",
                            600: "#2c51a1",
                        },
                        "borrowd-honey": {
                            300: "#fdf7e1",
                            600: "#b97c21",
                        },
                        "borrowd-plum": {
                            300: "#f0d7eb",
                            600: "#73325b",
                        },
                        "borrowd-fern": {
                            300: "#ebf7ed",
                            600: "#537533",
                        },
                    },
                    fontFamily: {
                        'roboto-slab': ['"Roboto Slab"', 'serif'],
                    },
                },
            },
        }
    </script>
</head>
<body x-data class="flex flex-col justify-center min-h-screen bg-gray-100" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    {% include "includes/messages.html" %}
    {% include "includes/header.html" %}

    {% block layout %}
    {% endblock %}

    {% include "includes/footer.html" %}
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
</body>
</html>
