{% load static %}
{% if level|lower == 'high' %}
<span class="badge badge-sm  bg-success/10 text-success gap-1 px-2 py-0.5">
    <span class="text-[10px] font-medium leading-6">High Trust</span>
</span>
{% elif level|lower == 'medium' %}
<span class="badge badge-sm  bg-warning/10 text-warning gap-1 px-2 py-0.5">
    <span class="text-[10px] font-medium leading-6">Medium Trust</span>
</span>
{% elif level|lower == 'low' %}
<span class="badge badge-sm   bg-error/10 text-error gap-1 px-2 py-0.5">
    <span class="text-[10px] font-medium leading-6">Low Trust</span>
</span>
{% endif %}
