{% extends "items/layout.html" %}

{% block head_title %}Delete Item{% endblock %}
{% block items_content %}
<c-box>
    <c-h1>Confirm Deletion</c-h1>
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <form method="post" onsubmit="this.querySelector('button[type=submit]').disabled = true;">
        {% csrf_token %}
        <c-button danger type="submit">Yes, delete</c-button>
        <c-button-nav url="{% url 'item-detail' item.pk %}">Cancel</c-button-nav>
    </form>
</c-box>
{% endblock %}
