{% extends "items/layout.html" %}

{% block head_title %}Items{% endblock %}
{% block items_content %}
<div class="flex flex-col space-y-4">
    <c-box>
        <div class="flex justify-between items-center">
            <c-h1>Items</c-h1>
            <c-button-nav url="{% url 'item-create' %}">Create New Item</c-button-nav>
        </div>
        <form method="get">
            {{ filter.form.as_p }}
            <input type="submit" value="Filter" class="bg-blue-500 text-white px-4 py-2 rounded">
            {% comment %}
            Only show the Clear button if filters are actually set.
            This looks a bit awkward in order to account for empty filters,
            i.e. `?category=&search=`
            TODO: Replace this with Alpine.js logic later
            when we're also using HTMX to avoid page reloads here.
            {% endcomment %}
            {% if not request.GET.values|join:"" == "" %}
            <c-button-nav url="{% url 'item-list' %}">Clear</c-button-nav>
            {% endif %}
        </form>
    </c-box>
    <!-- todo: tabs for My Inventory vs. Browser? -->
    <div class="flex flex-col space-y-4">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 bg-slate-400 p-4 rounded-lg">
            {% for item in item_list %}
                <c-item-box :item="{{ item }}" />
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
