{% extends "items/layout.html" %}

{% block head_title %}View Item{% endblock %}
{% block items_content %}
<c-box class="relative flex flex-col items-center">
    <div class="w-full flex">
        <c-button-nav url="{% url 'item-list' %}" class="btn btn-ghost"><span>&larr;</span> Back to List</c-button-nav>

        {% if user.is_authenticated and object.owner == user %}
        <c-button-nav class="btn btn-warning flex items-center ml-auto"
        url="{% url 'item-edit' object.pk %}">
            <span class="inline-block mr-2 fill-white">{% include "icons/handyman.svg" %}</span>
            Manage
        </c-button-nav>
        {% endif %}
    </div>
    <div class="flex flex-col w-3/4 items-center">
        <c-h1>{{ object.name }}</c-h1>
        {% if user.is_authenticated and object.owner == user %}
        <div class="mb-2">
            <c-trust-pill level="{{object.get_trust_level_required_display}}">
                Trust Level: {{object.get_trust_level_required_display}}
            </c-trust-pill>
        </div>
        {% endif %}

        <c-gallery>
            {% for photo in view.object.photos.all %}
            <c-photo src="{{ photo.image.url }}"
            alt="{{ view.object.name }} Photo {{ forloop.counter }}" />
            {% endfor %}
        </c-gallery>

        <c-items.action-buttons-with-status
            :item="object"
            :action-context="action_context"
        ></c-items.action-buttons-with-status>
    </div>
    <div class="flex flex-col bg-borrowd-indigo-300/50 p-4 rounded-lg w-full">
        <c-h2>Description</c-h2>
        <p>{{ object.description }}</p>
    </div>
</c-box>
{% endblock %}
