{% extends "items/layout.html" %}

{% comment %}
    This template is used for both creating and editing.
    Checking `view.object.pk` is strangely the best way to check
    if we are creating or editing.
{% endcomment %}
{% block head_title %}{% if not view.object.pk %}Create{% else %}Edit{% endif %} Item{% endblock %}

{% block items_content %}
<c-box>
    <c-h1>{% if not view.object.pk %}Create{% else %}Edit{% endif %} Item</c-h1>
    <form method="post" enctype="multipart/form-data" class="flex flex-col space-y-2">
        {% csrf_token %}
        {% for field in form %}
        <div class="">
            {{ field.errors }}
            <b>{{ field.label_tag }}</b>
            <div class="border-2 border-gray-200 w-fit">{{ field }} </div>
        </div>
        {% endfor %}

        {% if view.object.pk %}
            <b>Photos:</b>
            {% if view.object.photos.all %}
                <c-gallery>
                {% for photo in view.object.photos.all %}
                    <div>
                        <c-photo src="{{ photo.image.url }}"
                            alt="{{ view.object.name }} Photo {{ forloop.counter }}" />
                        <div class="p-1 flex justify-center">
                            <c-button-nav url="{% url 'itemphoto-delete' view.object.pk photo.pk %}">
                                Delete
                            </c-button-nav>
                        </div>
                    </div>
                {% endfor %}
                </c-gallery>
            {% else %}
                <div class="mb-2">No photos</div>
            {% endif %}
            {% if view.object.photos.count < 5 %}
                <c-button-nav url="{% url 'itemphoto-create' form.instance.pk %}">Add Photo</c-button-nav>
            {% else %}
                <div class="text-gray-500 italic">Photo limit (5) reached. Delete a photo if you want to add another.</div>
            {% endif %}

        {% endif %}

        <div class="flex gap-4 justify-center sm:justify-start">
            <c-button type="submit">Save</c-button>
            {% if form.instance.pk %}
                <c-button-nav url="{% url 'item-detail' form.instance.pk %}">
                    Cancel
                </c-button-nav>
                <c-button-nav url="{% url 'item-delete' form.instance.pk %}">
                    Delete
                </c-button-nav>
            {% endif %}
        </div>
    </form>
</c-box>
{% endblock %}
