{% extends "items/layout.html" %}

{% block head_title %}View Item{% endblock %}
{% block items_content %}
<c-box>
    <c-h1>{{ object.name }}</c-h1>
    <p>{{ object.description }}</p>
    <c-items.action-buttons />

    <c-gallery>
    {% for photo in view.object.photos.all %}
        <c-photo src="{{ photo.image.url }}"
            alt="{{ view.object.name }} Photo {{ forloop.counter }}" />
    {% endfor %}
    </c-gallery>

    <c-button-nav url="{% url 'item-list' %}">Back to List</c-button-nav>
    <c-button-nav url="{% url 'item-edit' object.pk %}">Edit</c-button-nav>
    <c-button-nav url="{% url 'item-delete' object.pk %}">Delete</c-button-nav>
</c-box>
{% endblock %}
