{% extends "layouts/default.html" %}
{% load static %}
{% block head_title %}Welcome{% endblock %}
{% block content %}
<section class="flex flex-col w-5/6 bg-white font-roboto-slab">
    <h1 class="text-5xl text-center md:text-start text-gray-400 p-6 md:p-10">Welcome to Borrow'd!</h1>
    <div class="flex flex-col lg:flex-row text-xl p-8 lg:px-12 gap-8">
        <div class="flex flex-col gap-8 mt-4 lg:order-1 order-2 text-gray-600">
            <p>
               Borrow’d is a community-powered platform that helps you share with the people you trust in real life. It’s built around Groups - your friends, neighbors, and community members.
            </p>
            <p>
                If you’re not in any Groups, you won’t see any items available to borrow - because sharing only happens within your chosen communities.
            </p>
            <p>
                To join a group, use the invitation link that you received.
            </p>
            <p>
                No invitation link? Create your own group, add some items to share, and invite your friends to join!
            </p>
        </div>
        <img class="w-2/3 mx-auto max-w-xs lg:max-w-lg object-contain order-1 lg:order-2 drop-shadow-xl" src="{% static 'landing/index/landing-page-img.png' %}" />
</section>
{% endblock %}
