{% extends "layouts/default.html" %}
{% load i18n %}

{% block head_title  %}{{ profile.user.username }}'s profile{% endblock %}

{% block content %}
<div class="flex flex-col space-y-4  p-8 w-full max-w-2xl">
    <c-items.item-grid title='My Requests' :transactions="requests_from_user" label_type="tx_time" box_size="sm" />
    <c-items.item-grid title='Requests for Me' :transactions="requests_to_user" label_type="tx_borrower" box_size="sm" />
    <c-items.item-grid title='Borrowed' :transactions="borrowed" label_type="tx_owner" label_color="green" box_size="sm" />
    <c-items.item-grid title='My Items' :items="user_items" label_type="i_borrower" label_color="red" box_size="sm" />
</div>
{% endblock %}
