{# Confirmation modal shown when the owner approves a giveaway request. #}
{# Hidden form submitted by the modal confirm button via confirm_submit_form_id. #}

{% url 'item-borrow' item.pk as borrow_url %}
{% with form_id="form-"|add:modal_id %}
    <form id="{{ form_id }}"
          method="POST"
          action="{{ borrow_url }}"
          class="hidden">
        {% csrf_token %}
        <input type="hidden" name="action" value="APPROVE_GIVEAWAY_REQUEST">
    </form>
    {% include "components/modal.html" with modal_id=modal_id modal_title="Give this item away" button_layout="equal" confirm_button_text="Approve request" cancel_button_text="Cancel" cancel_button_class="btn btn-soft btn-error" confirm_button_class="btn btn-soft btn-success font-semibold" confirm_submit_form_id=form_id modal_content_template="components/items/modals/_approve_giveaway_request_modal_content.html" %}

{% endwith %}
