{# Warning modal shown when the lender clicks "Item not returned". #}

{% url 'item-borrow' item.pk as borrow_url %}
{% with form_id="form-"|add:modal_id %}
    <form id="{{ form_id }}"
          method="POST"
          action="{{ borrow_url }}"
          class="hidden">
        {% csrf_token %}
        <input type="hidden" name="action" value="RAISE_DISPUTE">
    </form>
    {% include "components/modal.html" with modal_id=modal_id modal_title="Raise dispute" button_layout="equal" confirm_button_text="Submit a dispute" confirm_button_class="btn btn-soft btn-primary" cancel_button_text="Cancel" confirm_submit_form_id=form_id modal_content_template="components/items/modals/_raise_dispute_modal_content.html" %}

{% endwith %}
